
.pop-up-content > menu {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    -webkit-user-select: none;
    user-select: none;

    & > li {
        box-sizing: border-box;
        
        & > button {
            box-sizing: border-box;
            width: 100%;
            background: transparent;
            color: var(--main-fg-color);
            font-size: 1.1em;
            border: none;
            border-radius: 5px;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 5px;

            & > i {
                flex-grow: 0;
                width: 50px;
                height: 30px;
                text-align: center;
            }

            & > span.menu-title {
                flex-grow: 1;
                text-align: left;
                justify-self: flex-start;
            }

            & > span.button-state {
                flex-grow: 0;
                display: flex;
                flex-direction: column;
                gap: 3px;
            }
        }

        & > button:hover {
            background: var(--highlight-bg-color-hover);
        }

        & > button.selected {
            background: var(--highlight-bg-color);
        }

        & > button.selected:hover {
            background: var(--highlight-bg-color);
        }

        & svg {
            height: 30px;
            stroke: var(--main-fg-color);
        }
    }
}