
.pop-up-content > menu {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: var(--popup-menu-margin);
    gap: var(--popup-menu-gap);
    -webkit-user-select: none;
    user-select: none;

    & > li {
        box-sizing: border-box;
        
        & > button {
            box-sizing: border-box;
            width: 100%;
            height: var(--popup-menu-item-height);
            background: transparent;
            color: var(--main-fg-color);
            font-size: var(--popup-menu-item-font-size);
            border: none;
            border-radius: var(--popup-menu-item-border-radius);
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 5px;

            & > i {
                flex-grow: 0;
                height: var(--popup-menu-item-icon-size);
                text-align: center;
            }

            & > span.menu-title {
                flex-grow: 1;
                text-align: left;
                justify-self: flex-start;
            }

            & > span.button-state {
                flex-grow: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3px;
                margin-left: var(--popup-menu-item-text-to-state-spacing);

                & > .state-text {
                    font-size: var(--popup-menu-item-state-text-size);
                }
            }
        }

        & > button:hover {
            background: var(--highlight-bg-color-hover);
        }

        & > button.selected {
            background: var(--highlight-bg-color);
        }

        & > button.selected:hover {
            background: var(--highlight-bg-color);
        }

        & svg {
            height: 100%;
            stroke: var(--main-fg-color);
        }
    }
}