.progress-indicator {
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    flex-grow: 1;
    box-sizing: content-box;
    height: calc(max(var(--progress-indicator-slide-marker-height), var(--handler-height)));
    align-items: center;
}

.progress-indicator.hide-timeline {
    display: none;
}

/* The box sizing property is specified with the following selector to be more specific than the default setting */
.player-container div.progress-indicator {
    box-sizing: content-box;
}

.progress-indicator > .range-container {
    position: relative;
    width: 100%;

    /* range elements container using grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    & > .timeline-preview-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    & > .tracker {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        height: var(--progress-indicator-height);
        border-radius: var(--progress-bar-radius);
        overflow: hidden;
        display: flex;
        flex-direction: row;

        & > .elapsed {
            width: 50%;
            height: var(--progress-indicator-height);
            background-color: var(--elapsed-color);
            border-start-start-radius: var(--progress-bar-radius);
            border-end-start-radius: var(--progress-bar-radius);
            -webkit-user-select: none;
            user-select: none;
            pointer-events: none;
            margin: 0;
        }
    
        & > .remaining {
            width: 50%;
            height: var(--progress-indicator-height);
            background-color: var(--remaining-color);
            border-end-end-radius: var(--progress-bar-radius);
            border-start-end-radius: var(--progress-bar-radius);
            -webkit-user-select: none;
            user-select: none;
            pointer-events: none;
            margin: 0;
        }
    }
    

    & > input {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    & > .markers-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
}


.progress-indicator:hover {
    --handler-color: white;
}

.progress-indicator:active {
    --handler-color: white;
    --handler-radius: 8px;
}

.progress-indicator .range-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

.progress-indicator .range-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-height);
    background: var(--slider-thumb-color);
    border: none;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 40%);
    border-radius: 100%;
    opacity: var(--handler-opacity);
}

.progress-indicator .range-container input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: var(--slider-runnable-track-color);
}

.progress-indicator .range-container > input[type=range] {
    background: transparent;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: var(--progress-indicator-height);
    z-index: 1;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}

.progress-indicator .range-container input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin: 0px 0;
}

.progress-indicator .range-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--handler-width);
    height: var(--handler-width);
    background: var(--handler-color);
    border: var(--handler-border);
    border-radius: var(--handler-radius);
    opacity: var(--handler-opacity);
    margin-top: 0px;
    box-sizing: border-box;
    box-shadow: var(--handler-shadow);
    box-sizing: border-box;
    transform: scale(var(--handler-scale));
    transition: all var(--handler-transition-time) ease-in-out;
}

.progress-indicator .range-container input[type=range]::-moz-range-thumb {
    width: var(--handler-width);
    height: var(--handler-width);
    background: var(--handler-color);
    border: var(--handler-border);
    border-radius: var(--handler-radius);
    margin-top: 0px;
    box-sizing: border-box;
    box-shadow: var(--handler-shadow);
    opacity: var(--handler-opacity);
    transition: all var(--handler-transition-time) ease-in-out;
}

.progress-indicator .range-container input[type=range]:focus-visible {
    outline: 2px solid var(--highlight-bg-color-hover);
    outline-offset: 2px;
}

.playback-bar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--playback-bar-container-gap);
    align-items: center;
    padding: var(--playback-bar-container-padding);
}

.playback-bar-container.pop-up-active {
    position: relative;
    z-index: 100;
    pointer-events: all;
}

.playback-bar {
	bottom: 0px;
	background: var(--playback-bar-gradient);
    -webkit-backdrop-filter: var(--playback-bar-backdrop-filter);
    backdrop-filter: var(--playback-bar-backdrop-filter);
	z-index: 100;
	container-type: inline-size;
	container-name: playback-bar;
    transition: all 0.2s ease-in-out;
    transition: backdrop-filter 200ms ease-in-out;
    width: var(--playback-bar-width);
    border-radius: var(--playback-bar-border-radius);
    border-color: var(--playback-bar-border-color);
    border-style: var(--playback-bar-border-style);
    border-width: var(--playback-bar-border-width);
    box-shadow: var(--playback-bar-shadow);
    overflow: hidden;
}

.playback-bar:hover {
	background: var(--playback-bar-gradient-hover);
    -webkit-backdrop-filter: var(--playback-bar-backdrop-filter-hover);
    backdrop-filter: var(--playback-bar-backdrop-filter-hover);
    transition: backdrop-filter 300ms ease-in-out;
}

.playback-bar nav {
    padding: var(--playback-bar-buttons-padding);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.playback-bar nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	flex: 0;
    display: flex;
}

.playback-bar nav > div {
	flex: 1;
}

.playback-bar nav > ul > li {
	display: flex;
	align-items: center;
    margin: 0;
}

.playback-bar nav > ul > li > .side-container.hidden {
    display: none;
}

.playback-bar nav > ul > li > .side-container.hidden:focus-within {
    display: block;
}

.playback-bar nav > ul > li > .side-container.hidden:hover {
    display: block;
}

button,
a {
    font-size: 14px;
    
    & .button-title-small {
        font-size: var(--small-text-size);
    }

    & .button-title-medium {
        font-size: var(--medium-text-size);
    }

    & .button-title-large {
        font-size: var(--large-text-size);
    }

}

div.non-interactive .button-title-small {
    font-size: var(--small-text-size);
}

div.non-interactive .button-title-medium {
    font-size: var(--medium-text-size);
}

div.non-interactive .button-title-large {
    font-size: var(--large-text-size);
}

.playback-bar ul > li > button,
.playback-bar ul > li > a {
	height: var(--button-fixed-height);
    border-radius: var(--button-border-radius);
    background: var(--button-background);
    color: var(--button-color);
    overflow: hidden;
	background: none;
	border: none;
	box-sizing: border-box;
	display: flex;
	gap: 3px;
	align-items: center;
	justify-content: center;
}

.playback-bar ul > li > button.active-popup-button,
.playback-bar ul > li > a.active-popup-button {
    background-color: var(--button-background-active);
}

.playback-bar ul > li > button.fixed-width,
.playback-bar ul > li > a.fixed-width {
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr;
	align-items: center;
    justify-items: center;
    
    > i {
        grid-column-start: 1;
        grid-row-start: 1;
        z-index: 1;
    }
     
    > span {
        grid-column-start: 1;
        grid-row-start: 1;
        z-index: 1;
        color: var(--button-color);
    }
}



.playback-bar ul > li > button.dynamic-width,
.playback-bar ul > li > a.dynamic-width {
	width: auto;
    min-width: var(--button-fixed-width);
}

.playback-bar ul > li > button.fixed-width,
.playback-bar ul > li > a.fixed-width {
	width: var(--button-fixed-width);
}

.playback-bar ul > li > button:hover,
.playback-bar ul > li > a:hover {
	background-color: var(--button-background-hover);
}

.playback-bar ul > li > button:active,
.playback-bar ul > li > a:active {
	background-color: var(--button-background-active);
}

.playback-bar ul > li > button,
.playback-bar ul > li > a {
    > span {
        color: var(--button-color);
    }

    > i {
        width: var(--button-icon-size);
        height: var(--button-icon-size);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > i > svg {
        height: 100%;
        width: 100%;;
        color: var(--icon-color);
    }
}
 
/* non-interactive buttons */
.playback-bar ul > li > div {
	height: var(--button-fixed-height);
	background: none;
	border: none;
	box-sizing: border-box;
	display: flex;
	gap: 3px;
	align-items: center;
	justify-content: center;
    -webkit-user-select: none;
    user-select: none;
}

.playback-bar ul > li > div.fixed-width {
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr;
	align-items: center;
    justify-items: center;
}

.playback-bar ul > li > div.fixed-width > i {
	grid-column-start: 1;
	grid-row-start: 1;
	z-index: 1;
}

.playback-bar ul > li > div.fixed-width > span {
	grid-column-start: 1;
	grid-row-start: 1;
	z-index: 1;
	color: var(--button-color);
}

.playback-bar ul > li > div.dynamic-width {
	width: auto;
    min-width: var(--button-fixed-width);
}

.playback-bar ul > li > div.fixed-width {
	width: var(--button-fixed-width);
}

.playback-bar ul > li > div > span {
	color: var(--button-color);
    text-wrap: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}

.playback-bar ul > li > div > i {
	width: 90%;
	height: 90%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.playback-bar ul > li > div > i > svg {
	height: 100%;
    color: var(--icon-color);
}


.progress-indicator > .range-container > ul.markers-container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    height: var(--progress-indicator-slide-marker-height);
    list-style: none;
    align-items: center;
    overflow: hidden;
    border-radius: var(--progress-bar-radius);
}

.progress-indicator > .range-container > ul.markers-container > li {
    position: absolute;
}

.progress-indicator:has(.markers-container > li) {
    --remaining-color: transparent;
    --elapsed-color: transparent;
}

.progress-indicator {
    padding: var(--progress-indicator-padding);

    /* Do not modify this variable manually */
    --slide-marker-hover-scale: calc(var(--progress-indicator-slide-marker-height) / var(--progress-indicator-height));

    & > .range-container > ul.markers-container > li {
        box-sizing: border-box;
        background-color: transparent;
        transition: height 0.2s, background-color 0.2s;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: var(--progress-indicator-height);
        margin: 0;

        & > div.elapsed {
            box-sizing: border-box;
            background-color: var(--slide-marker-elapsed-color);
            height: 100%;
            margin: 0;
        }

        & > div.remaining {
            box-sizing: border-box;
            background-color: var(--slide-marker-remaining-color);
            height: 100%;
            margin: 0;
        }
    }

    & > .range-container > ul.markers-container > li.active {
        height: var(--progress-indicator-slide-marker-height);
    }

    & > .range-container > ul.markers-container > li:first-of-type {
        border-left: none;
        border-start-start-radius: var(--progress-bar-radius);
        border-end-start-radius: var(--progress-bar-radius);
    }

    & > .range-container > ul.markers-container > li:last-of-type {
        border-start-end-radius: var(--progress-bar-radius);
        border-end-end-radius: var(--progress-bar-radius);
    }
}
