@media (max-width: 500px) or (max-height: 500px) {
    .pop-up-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        background: var(--mobile-popup-background);
        -webkit-backdrop-filter: var(--mobile-popup-backdrop-filter);
        backdrop-filter: var(--mobile-popup-backdrop-filter);
    }

    .pop-up-wrapper,
    .pop-up-wrapper.right,
    .pop-up-wrapper.left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pop-up-wrapper.hidden {
        display: none;
    }

    .pop-up-wrapper button.pop-up-header-btn {
        width: var(--mobile-popup-header-btn-width);
        height: var(--mobile-popup-header-btn-height);
    }
}