

.progress-indicator .timeline-preview-container {
    position: relative;
    width: 100%;

    &> .timeline-preview {
        position: absolute;
        bottom: var(--timeline-preview-gap);
        background: var(--timeline-preview-background);
        box-sizing: border-box;
        padding: var(--timeline-preview-padding);
        color: var(--timeline-preview-color);
        border-radius: var(--timeline-preview-border-radius);
        text-align: center;
        box-shadow: var(--timeline-preview-box-shadow);
    }

    &> .timeline-preview.hidden {
        display: none;
    }

    &> .timeline-preview > img {
        max-block-size: var(--timeline-preview-max-image-block-size);
    }

    &> .timeline-preview > p {
        margin: 0;
    }

    &> .timeline-preview > p.timeline-preview-text {
        font-weight: bold;
    }

    &> .timeline-preview > p.timeline-preview-time {
        font-size: 0.9em;
    }
}