

.progress-indicator .timeline-preview-container {
    position: absolute;
    bottom: 0px;
    width: 100%;

    &> .timeline-preview {
        position: absolute;
        bottom: 13px;
        background: var(--main-bg-color);
        box-sizing: border-box;
        padding: 9px;
        color: var(--main-fg-color);
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 80% );
    }

    &> .timeline-preview.hidden {
        display: none;
    }
}