/* Common */
:root {
    --main-fg-color: white;
    --main-bg-color: rgba(0,0,0,0.8);
    --main-bg-color-hover: rgb(0,0,0);
    --secondary-bg-color: rgb(32,32,32);
    --secondary-bg-color-hover: rgba(32,32,32,0.8);
    --highlight-bg-color: rgb(255, 0, 0);
    --highlight-bg-color-hover: rgb(182, 0, 0);
    --main-border-color: rgba(125,125,125,1);
    --main-outline-color: var(--highlight-bg-color-hover);
    --button-color: var(--main-fg-color);
    --icon-color: var(--button-color);
    --icon-fill-color: var(--icon-color);
    --icon-stroke-color: var(--icon-color);
    --player-font-family: sans-serif;
    

    --popup-wrapper-padding: 0px 0;
    
    /* Buttons */
    --button-fixed-size: 5.5ex;
	--button-fixed-width: var(--button-fixed-size);
	--button-fixed-height: var(--button-fixed-size);
    --button-border-radius: 7px;
    --button-icon-size: calc(var(--button-fixed-width) * 0.5);
    --button-background: transparent;
    --button-background-hover: var(--highlight-bg-color);
    --button-background-active: var(--highlight-bg-color-hover);

    /* Font sizes */
    --progress-indicator-font-size: 11px;
    --small-text-size: 0.7em;
    --medium-text-size: 0.9em;
    --large-text-size: 1em;
    
    /* Playback bar */
    --playback-bar-buttons-padding: 15px 15px;
    --playback-bar-gradient: linear-gradient(0deg, rgb(32 32 32 / 100%) 0%, rgb(32 32 32 / 50%) 72%, rgb(32 32 32 / 0%) 100%);
    --playback-bar-gradient-hover: linear-gradient(0deg, rgb(32 32 32 / 80%) 0%, rgb(32 32 32 / 80%) 100%);
    --playback-bar-backdrop-filter: blur(1px);
    --playback-bar-backdrop-filter-hover: blur(15px);
    --playback-bar-width: 100%;
    --playback-bar-container-padding: 0;
    --playback-bar-container-gap: 4px;
    --playback-bar-border-radius: 0;
    --playback-bar-border-color: var(--main-border-color);
    --playback-bar-border-style: solid;
    --playback-bar-border-width: 0;
    --playback-bar-shadow: none;
    --progress-indicator-padding: 10px 1ch;
    --progress-indicator-elapsed-color: var(--highlight-bg-color);
    --progress-indicator-remaining-color: rgb(96, 96, 96);
    --progress-indicator-height: 6px;
    --progress-indicator-slide-marker-height: 18px;
    --progress-bar-radius: 100px;

    /* Progress indicator handler */
    --handler-size: 20px;
    --handler-height: var(--handler-size);
    --handler-width: var(--handler-size);
    --handler-scale: 1;
    --handler-color: white;
    --handler-shadow: 0 0 4px 0 rgb(0 0 0 / 80%);
    --handler-radius: 50%;
    --handler-opacity: 0;
    --handler-border: none;
    --handler-transition-time: 100ms;
    --handler-scale-hover: 1.1;
    --handler-color-hover: var(--main-fg-color);
    --handler-shadow-hover: 0 0 4px 0 rgb(0 0 0 / 80%);
    --handler-radius-hover: 50%;
    --handler-opacity-hover: 1;
    --handler-border-hover: none;

    --handler-scale-active: 0.9;
    --handler-shadow-active: 0 0 4px 0 rgb(0 0 0 / 80%);
    --handler-color-active: var(--main-fg-color);
    --handler-radius-active: 50%;
    --handler-opacity-active: 1;
    --handler-border-active: none;

    /* Progress indicator */
    --elapsed-color: var(--progress-indicator-elapsed-color);
    --remaining-color: var(--progress-indicator-remaining-color);
    
    /* Slide markers */
    --slide-marker-elapsed-color: var(--progress-indicator-elapsed-color);
    --slide-marker-remaining-color: var(--progress-indicator-remaining-color);
    --slide-marker-gap: 4px;
    

    /* Timeline preview */
    --timeline-preview-gap: 22px;
    --timeline-preview-border-radius: 10px;
    --timeline-preview-box-shadow: 0 0 4px 0 rgb(0 0 0 / 80%);
    --timeline-preview-padding: 9px;
    --timeline-preview-background: var(--main-bg-color);
    --timeline-preview-color: var(--main-fg-color);
    --timeline-preview-max-image-block-size: 17ex;
    
    /* Video container */
    --video-container-padding: 0px;
	--video-container-gap: 10px;
    --video-container-background-color: #e4e4e4;
    --base-video-rect-background-color: #8a8a8a;
    --video-container-message-bkg: rgba(0, 0, 0, 0.4);
    --video-container-message-color: white;

    /* Menu */
    --popup-backdrop-filter: blur(5px);
    --popup-backdrop-filter-hover: blur(15px);
    --popup-border-radius: 10px;
    --popup-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    --popup-padding: 13px 13px;
    --popup-menu-margin: 0 0;
    --popup-menu-gap: 4px;
    --popup-menu-item-height: 2em;
    --popup-menu-item-font-size: 1.1em;
    --popup-menu-item-border-radius: 5px;
    --popup-title-font-size: 1.2em;

    /* Video canvas buttons */
    --canvas-button-container-padding: 5px;   /* padding of the buttons container */
    --canvas-button-height: 15%;              /* fixed height of the buttons container */
    --canvas-button-min-height: 28px;         /* minimum height of the buttons container. It isn't recommended to use a value lower than 28px */
    --canvas-button-max-height: 64px;         /* maximum height of the buttons container */
    --canvas-button-aspect-ratio: 1;          /* aspect ratio of the buttons container */
    --canvas-button-gap: 5px;                 /* gap between buttons */
    --canvas-button-padding: 3%;              /* padding of a button. It's recommended to use % */
    --canvas-button-border-radius: 7px;       /* border radius of a button */
    --canvas-button-opacity: 0.7;             /* opacity of a button when the mouse pointer is over the video canvas */
    --canvas-button-opacity-hover: 1;         /* opacity of a button when the mouse pointer is over the button */
    --canvas-button-opacity-out: 0.2;         /* opacity of a button when the mouse pointer is not over the video canvas */
    --canvas-button-border: none;             /* border of a button */
    --canvas-button-background: var(--main-bg-color); /* background of a button */
}

.progress-indicator:hover {
    --handler-scale: var(--handler-scale-hover);
    --handler-color: var(--handler-color-hover);
    --handler-shadow: var(--handler-shadow-hover);
    --handler-radius: var(--handler-radius-hover);
    --handler-opacity: var(--handler-opacity-hover);
    --handler-border: var(--handler-border-hover);
}

.progress-indicator:active {
    --handler-scale: var(--handler-scale-active);
    --handler-color: var(--handler-color-active);
    --handler-shadow: var(--handler-shadow-active);
    --handler-radius: var(--handler-radius-active);
    --handler-opacity: var(--handler-opacity-active);
    --handler-border: var(--handler-border-active);
}

/* input style unifier variables */
.isu {
    --isu-theme-color-1: rgb(251, 184, 184);
    --isu-theme-color-2: rgb(255, 168, 168);
    --isu-theme-color-3: var(--highlight-bg-color);
    --isu-theme-color-4: var(--highlight-bg-color);
    --isu-highligh-color: var(--highlight-bg-color-hover);

    --range-runnable-track-border-color: black;
    --range-runnable-track-background: var(--main-bg-color);
    --range-runnable-track-focus-background: var(--main-bg-color-hover);

    --range-thumb-border: 2px solid black;
    --range-thumb-focus-border: 2px solid black;
    --range-thumb-active-border: 2px solid black;
    --range-thumb-hover-border: 2px solid black;
    --range-thumb-background: white;
    --range-thumb-focus-background: white;
    --range-thumb-active-background: white;
    --range-thumb-hover-background: white;
}

