.isu {
    --isu-theme-color-1: rgb(251, 184, 184);
    --isu-theme-color-2: rgb(255, 168, 168);
    --isu-theme-color-3: rgb(255, 43, 43);
    --isu-theme-color-4: rgb(183, 0, 0);
    --isu-highligh-color: rgb(255, 149, 149);
}