body {
    margin: 0px;
    font-family: sans-serif;
}

:root {
    --highlight-bg-color: #5091cb;
    --highlight-bg-color-hover: #48759c;
    --main-fg-color: rgb(222, 221, 221);
    --main-bg-color: rgba(26, 26, 26, 0.923);
    --secondary-bg-color: rgb(49, 49, 49);
    --secodnary-bg-color-highlight: rgb(66, 66, 66);

    --playback-bar-container-padding: 20px;
    --playback-bar-container-gap: 10px;

    --playback-bar-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    --playback-bar-border-radius: 10px;

    --popup-wrapper-padding: 15px 15px;


    --playback-bar-gradient: linear-gradient(0deg, rgba(33, 33, 33, 0.8) 0%, rgba(26, 26, 26, 0.8) 0%);
    --playback-bar-gradient-hover: linear-gradient(0deg, rgba(34, 34, 34, 0.8) 0%, rgba(19, 19, 19, 0.8) 0%);
    --playback-bar-buttons-padding: 5px 15px 15px 15px;


    --progress-indicator-padding: 6px 15px 2px 15px;
    --progress-indicator-slide-marker-height: 13px;
    --handler-opacity: 0;
    --handler-color-hover: #bbbbbb;
    --handler-color-active: #b9b7b7;

    --timeline-preview-gap: 25px;
    --timeline-preview-border-radius: 20px;
    --timeline-preview-padding: 15px;
}

.playback-bar ul>li>button[name="es.upv.paella.playPauseButton"] {
    color: var(--highlight-bg-color);
    background-color: var(--main-fg-color);

    & svg {
        fill: rgb(36, 36, 36);
        stroke: rgb(43, 43, 43);
    }
}

.playback-bar ul>li>button[name="es.upv.paella.playPauseButton"]:hover {
    background-color: var(--highlight-bg-color);
}

.playback-bar ul>li>button[name="es.upv.paella.playPauseButton"]:active {
    background-color: var(--highlight-bg-color-hover);
}