.aitool-podcast {
    height: 100%;
    overflow-y: auto;
    padding-right: 0.3em;
}

.aitool-podcast li {
    margin: 0.8em 0;
}

.aitool-podcast li .text{
    padding-left: 1.3em;
    margin-top: 0.3em;
}
